.definitions {
    padding: 10px 0px;
    border: 10px solid rgb(105, 105, 105);
    border-radius: 10px;
}
.definition {
    height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    font-family: monospace, sans-serif;
}

@media screen and (min-width:500px){
    .definition {
        padding: 0px 10px;
    } 
    .audio {
        padding: 0px 10px;
    }
}
@media screen and (max-width:499px){
    .definition {
        padding: 0px 10px;
    } 
    .audio {
        width: 90%;
        padding: 0px 10px;
    }
}
.meaning {
    font-weight: bolder;
    font-size: small;
}
.audio {
    border-radius: 10px;
}